<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- body link -->
  <xacro:macro name="insert_inertia_body_link">
    <origin xyz="-0.01501 0.00013 0.06582" />
    <mass value="1.34928"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>

  <!-- right leg links -->
  <xacro:macro name="insert_inertia_r_hip_roll_link">
    <origin xyz="0.00388 -0.00028 -0.01214" />
    <mass value="0.17886"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>

  <xacro:macro name="insert_inertia_r_hip_pitch_link">
    <origin xyz="0.00059 0.01901 -0.08408" />
    <mass value="0.11543"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>

  <xacro:macro name="insert_inertia_r_u_knee_pitch_link">
    <origin xyz="0.00000 0.02151 -0.05500" />
    <mass value="0.04015"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>

  <xacro:macro name="insert_inertia_r_l_knee_pitch_link">
    <origin xyz="0.00000 0.02151 -0.05500" />
    <mass value="0.04015"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>

  <xacro:macro name="insert_inertia_r_ank_pitch_link">
    <origin xyz="-0.02022 0.01872 0.01214" />
    <mass value="0.17886"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>

  <xacro:macro name="insert_inertia_r_ank_roll_link">
    <origin xyz="0.02373 -0.01037 -0.02760" />
    <mass value="0.06934"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>

  <!-- left leg links -->
  <xacro:macro name="insert_inertia_l_hip_roll_link">
    <origin xyz="0.00388 0.00028 -0.01214" />
    <mass value="0.17886"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>

  <xacro:macro name="insert_inertia_l_hip_pitch_link">
    <origin xyz="0.00059 -0.01901 -0.08408" />
    <mass value="0.11543"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>

  <xacro:macro name="insert_inertia_l_u_knee_pitch_link">
    <origin xyz="0.00000 -0.02151 -0.05500" />
    <mass value="0.04015"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>

  <xacro:macro name="insert_inertia_l_l_knee_pitch_link">
    <origin xyz="0.00000 -0.02151 -0.05500" />
    <mass value="0.04015"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>

  <xacro:macro name="insert_inertia_l_ank_pitch_link">
    <origin xyz="-0.02022 -0.01872 0.01214" />
    <mass value="0.17886"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>

  <xacro:macro name="insert_inertia_l_ank_roll_link">
    <origin xyz="0.02373 0.01037 -0.02760" />
    <mass value="0.06934"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>

  <!-- right arm links -->
  <xacro:macro name="insert_inertia_r_sho_pitch_link">
    <origin xyz="0.0 -0.00823 -0.00233" />
    <mass value="0.01176"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>

  <xacro:macro name="insert_inertia_r_sho_roll_link">
    <origin xyz="-0.01844 -0.04514 0.00028" />
    <mass value="0.17758"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>

  <!-- left arm links -->
  <xacro:macro name="insert_inertia_l_sho_pitch_link">
    <origin xyz="0.0 0.00823 -0.00233" />
    <mass value="0.01176"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>

  <xacro:macro name="insert_inertia_l_sho_roll_link">
    <origin xyz="-0.01844 0.04514 0.00028" />
    <mass value="0.17758"/>
    <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
  </xacro:macro>
  
</robot>