<?xml version="1.0"?>
<launch>
  <arg name="args" default=""/>
  <param name="demo_config" value="$(find max_control_gui)/config/gui_config.yaml"/>
  
  <node pkg="max_control_gui" type="max_control_gui" name="max_control_gui" output="screen" args="$(arg args)">
    <remap from="/demo/ik_target_pose" to="/pose_panel/pose" />
  </node>
</launch>
