<?xml version="1.0"?>
<!-- Robotis Max Humanoid-->
<robot name="robotis_max" xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- Import xacro files -->
  <xacro:include filename="$(find robotis_max_description)/urdf/robotis_max.visuals.xacro" />
  <xacro:include filename="$(find robotis_max_description)/urdf/robotis_max.inertia.xacro" />

  <xacro:include filename="$(find robotis_max_description)/urdf/robotis_max.structure.rleg.xacro" />
  <xacro:include filename="$(find robotis_max_description)/urdf/robotis_max.structure.lleg.xacro" />
  <xacro:include filename="$(find robotis_max_description)/urdf/robotis_max.structure.rarm.xacro" />
  <xacro:include filename="$(find robotis_max_description)/urdf/robotis_max.structure.larm.xacro" />

  <xacro:include filename="$(find robotis_max_description)/urdf/robotis_max.gazebo.xacro" />
  <xacro:include filename="$(find robotis_max_description)/urdf/robotis_max.transmissions.xacro" />

  <!-- body link -->
  <link name="body_link">
    <visual>
      <xacro:insert_mesh_body_link />
    </visual>
    <collision>
      <xacro:insert_mesh_body_link />
    </collision>
    <inertial>
      <xacro:insert_inertia_body_link />
    </inertial>
  </link>

  <!-- leg link -->
  <xacro:robotis_max_r_leg parent="body_link" />
  <xacro:robotis_max_l_leg parent="body_link" />

  <!-- arm link -->
  <xacro:robotis_max_r_arm parent="body_link" />
  <xacro:robotis_max_l_arm parent="body_link" />

</robot>
