<launch>
  <arg name="robot_name"     default="robotis_engineer"/>
  <arg name="use_gui"        default="true"/>
  <arg name="open_rviz"      default="true"/>
 
  <param name="robot_description" 
         command="$(find xacro)/xacro --inorder '$(find robotis_engineer_description)/urdf/robotis_engineer.urdf.xacro'"/>

  <!-- send joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="$(arg use_gui)"/>
    <!-- <rosparam param="source_list" subst_value="true">["$(arg robot_name)/joint_states"]</rosparam> -->
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz -->
  <group if="$(arg open_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotis_engineer_description)/rviz/robotis_engineer.rviz"/>
  </group>
</launch>
